.weather-forecast {
  color: cornsilk;
  line-height: 10mm;
  text-align: center;
  font-size: 12pt;
  height: calc(1.5 em + 0.75 rem + 2 px);
  background: linear-gradient(
    112.5deg,
    rgb(104, 70, 119) 11.4%,
    rgb(160, 111, 145) 60.2%
  );
  display: block;
  margin: 0 auto;
}

.col-2 {
  display: block;
  margin: 0 auto;
}

ul {
  font-size: 12pt;
  color: black;
  text-align: left;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

li {
  text-transform: capitalize;
}

.temperature {
  text-align: left;
  font-size: 30pt;
  color: black;
}

.temperatureElement {
  text-align: left;
  font-size: 30pt;
  color: black;
}

.weather-forcast-temperature {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.special {
  width: 100px;
  height: 100px;
}
